<%- include('layouts/header') %>

<div class="container-fluid auth-wrapper">
    <div class="row px-xl-5 justify-content-center w-100">
        <div class="col-lg-5 col-md-7">
            <div class="bg-light p-30">
                <h3 class="mb-3 text-center">Reset Password</h3>
                <p class="text-muted text-center mb-4">
                    Create a new password for your account
                </p>
                <% if (error && error.length > 0) { error.forEach(function(e) { %>
                    <div class="alert alert-danger"><%= e.msg %></div>
                <% } ) }  %>
                <form action="/reset/<%= email %>" method="post">
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" class="form-control" name="newEmail" placeholder="********">
                    </div>

                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" class="form-control" name="confirmEmail" placeholder="********">
                    </div>

                    <button type="submit" class="btn btn-primary btn-block py-2 mb-3">
                        Update Password
                    </button>
                </form>

                <div class="text-center">
                    <small>
                        Remember your password?
                        <a href="login.html">Login</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layouts/footer') %>